*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* navbar */
.navbar{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lightpink;
}
.navbar ul{
	display: flex;
	list-style: none;
	margin: 20px 0px;
}
.navbar ul li{
	font-family: century;
	font-size: 1.1rem;
	font-weight: bold;
}
.navbar ul li a{
	text-decoration: none;
	color: black;
	padding: 8px 25px;
	transition: all .5s ease;
}
.navbar ul li a:hover{
	background-color: whitesmoke;
	color: black;
	box-shadow: 0 0 10px white;

}
.grid {
	display: grid;
	height: 100px;
	grid-template-columns: 33.33% 33.33% 33.33%;
}